<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.github.randy.copilot-quota</string>
  <key>ProgramArguments</key>
  <array>
      <string>/Users/randy/projects/copilot-quota/copilot-env/bin/python3</string>
      <string>/Users/randy/projects/copilot-quota/copilot_quota.py</string>
  </array>
  <key>StandardErrorPath</key>
  <string>/tmp/copilotquota.err</string>
  <key>StandardOutPath</key>
  <string>/tmp/copilotquota.out</string>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
